<!DOCTYPE html>
<html lang="en">
<head>
    	<!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- materialize css -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/materialize.css') }}">

        <!-- materialize icons -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <!-- css -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

        
   {% if title %}
        <title>My Green - {{ title }}</title>
   {% else %}
        <title>My Green Connection </title>
   {% endif %}
</head>
<body>
    
        <header class="header">

                    <div class="top-bar">
                                            
                            <ul id="dropdown" class="dropdown-content">
                                <li><a href="">Swahili</a></li>
                                <li><a href="">Luganda</a></li>
                                <li><a href="">Runyakitara</a></li>
                                <li><a href="">Luo</a></li>
                                <li><a href="">Itesot</a></li>
                            </ul>
                            <a class = "btn dropdown-button" href = "#" data-activates = "dropdown">    
                            choose language 
                                <i class = "mdi-navigation-arrow-drop-down right"></i>
                            </a>   
                            <button type="button" class="btn">Login</button>
                    </div>

                <nav>
                    <div class="container">
                        <a href="{{ url_for('home') }}" class="">Home</a>                         
                    </div>
                    
                </nav>
                
            </header>
    <div class="container">
            <main role="main" class=" ">
                <div class=" ">
                    <div class=" ">
                        {% with messages = get_flashed_messages(with_categories=true) %} <!-- using the get_flashed_messages function -->
                            {% if messages %}
                                {% for category, message in messages %}
                                    <div class="alert alert-{{ category }}"> <!-- assigned to the success category -->
                                        {{ message }}
                                    </div>							
                                {% endfor %}
                            {% endif %}
                        {% endwith %}
                        {% block content %}{% endblock content %}                        
                    </div>                    
                </div>
            </main>         
            
    </div>
    <div>
        <footer class="row page-footer">
            <div class="container">
                <div class="col s4 m4 l4">
                    <h4>About Us</h4>
                    <ul>
                        <li>Background</li>
                        <li>Our Partners</li>
                    </ul>
                </div>
                <div class="col s4 m4 l4">
                    <h4>Connect</h4>
                    <ul>
                        <li>Background</li>
                        <li>Our Partners</li>
                    </ul>
                </div>
                <div class="col s4 m4 l4">
                    <h4>Social</h4>
                </div>
            </div>
        </footer>
    </div>
    
    <!-- materialize js -->
        <script type="text/javascript" src="{{ url_for('static', filename='scripts/materialize.js') }}"></script>

</body>
</html>